

<!-- Toolbar -->

<div class="navbar fixed-bottom navbar-light bg-light row">
  <div class="col">
    <div class="text-center">
      <a class="navbar-brand" routerLink="card" routerLinkActive="active">Cards</a>
    </div>
  </div >

  <div class="col">
    <div class="text-center">
      <a class="navbar-brand" routerLink="login" routerLinkActive="active">Profile</a>
    </div>
  </div >
  
 

  <div class="col">
    <div class="text-center">
      <a class="navbar-brand" routerLink="form" routerLinkActive="active">Form</a>
    </div>
  </div >
   
    
</div>




<router-outlet></router-outlet>