<div class="container">
    <div class="center text-center">
        <h1>Add new Card</h1>
        <div class="space">
            <label for="exampleInputEmail1">Write title:</label>
            <input class="form-control form-control-lg" type="text" [(ngModel)]="title">
        </div>
        <div class="space">
        <label for="exampleInputEmail1">Instructions for the code:</label>
        <textarea class="form-control form-control-lg" [(ngModel)]="text"></textarea>
        </div>
        <button class="btn btn-success space" (click)="postCard()">Send</button>
    </div>
</div>




