<div *ngIf="show;else edit">

    <div  class="row itemsBlock">
        <div class="card col-md-4 col-sm-6 col-12" style="width: 18rem;" *ngFor="let data of this.cardStorage.currentData">
            <div class="card-body">
            <h1 class="card-title">{{data.title}}</h1>
            <p class="card-text" >{{data.text}}</p>
            <button class="btn btn-danger right" (click)="deleteCard(data)">delete</button>
            <button class="btn btn-primary right"  (click)="show = !show">edit</button>
            </div>
        </div>
    </div>
    
</div>

<ng-template #edit>
    <button class="btn btn-primary center"  (click)="show = !show">close</button>
    <app-edit-form  *ngFor="let data of this.cardStorage.currentData" [jsonData]="data" ></app-edit-form>
</ng-template>
